<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="KKBOX" />
    <meta property="og:title" content="Compass.app" />
    <meta property="og:url" content="http://compass.kkbox.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="compile Sass/Compass easily without resorting to command line interface" />
    <meta property="og:image" content="http://compass.kkbox.com/images/link-thumbnail.png" />
    <link rel="shortcut icon" href="favicon.ico">
    <title>Compass.app: compile Sass/Compass easily without resorting to command line interface</title>
    <link href="/stylesheets/application.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Anton|Bree+Serif|Vollkorn' rel='stylesheet' type='text/css'>
    <!-- html5shiv http://code.google.com/p/html5shiv/ -->
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <%#= livereload_js %>

</head>
<body>
    <header>
        <div class="navbar">
            <div class="container">
                <h5 class="slogan">Use Sass / Compass in <strong>OS X, Windows, Linux</strong><img src="/images/icon-os.png"> easily</h5>
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/doc/" class="documentation">Documentation</a></li>
                        <li><a href="https://github.com/KKBOX/CompassApp/wiki/FAQ" class="faq">FAQ</a></li>
                        <li><a href="https://github.com/KKBOX/CompassApp/issues" class="issues">Issues</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container inner">
            <h1>Compass.app</h1>
            <div class="buy">
                <a href="http://transactions.sendowl.com/packages/392/9C032729/purchase" class="button"><span>$10</span> Buy Now</a>
                <p class="donated">30% of sales donated to <a target="_blank" href="http://www.umdf.org/">UMDF</a></p>
            </div>
            <ul class="quick-links">
                <li>
                    <iframe src="http://ghbtns.com/github-btn.html?user=KKBOX&repo=compassapp&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
                </li>
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://compass.kkbox.com/" data-via="compass_app" data-related="compass_app" data-hashtags="compassapp">Tweet</a>
                </li>
                <li>
                    <a href="https://twitter.com/compass_app" class="twitter-follow-button" data-width="225px" data-link-color="#0069D6" data-show-count="true">Follow @compass_app</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="container-inner">
                <%= content_for?(:page_content) ? yield(:page_content) : yield %>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="container-inner">
                <div class="row">
                    <div class="span9">
                        <p>Compass.app is brought to you by <a href="http://www.kkbox.com/about/en/">KKBOX</a>. The delivery system is powered by the awesome <a href="http://www.sendowl.com?r=handlino">SendOwl</a> service.</p>
                    </div>
                    <div class="span3"><a class="btn" href="http://compass.kkbox.com/assets/mediakit.zip"><i class="icon-download-alt"> </i>Download Media Kit</a></div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.fancybox-1.3.4.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("a[rel=group]").fancybox({
                'transitionIn'      : 'none',
                'transitionOut'     : 'none',
                'titlePosition'     : 'over',
                'titleFormat'       : function(title, currentArray, currentIndex, currentOpts) {
                    return '<span id="fancybox-title-over">Image ' + (currentIndex + 1) + ' / ' + currentArray.length + (title.length ? ' &nbsp; ' + title : '') + '</span>';
                }
            });
        });
    </script>
    <script src="/javascripts/jquery.fitvids.js"></script>
    <script>
      $(".container").fitVids();
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-282478-18', 'kkbox.com');
      ga('send', 'pageview');

    </script>
</body>
</html>
