<div class="content">
    <div class="container">
        <div class="container-inner">
            <div class="row">
                <div class="span8">
                    <p><a href="http://compass-style.org/">Compass</a> is a stylesheet authoring framework that makes your stylesheets and markup easier to build and maintain. With compass, you write your stylesheets in <a href="http://sass-lang.com/">Sass</a> instead of plain CSS.</p>
                    <p>Compass.app is a menubar only app for Sass and Compass. It helps designers compile stylesheets easily without resorting to command line interface.</p>
                    <p>Compass.app is written in Java (JRuby), and works in mac, linux and pc. You do not need to install Ruby environment to use it.</p>
                </div>
                <div class="product span4">
                    <div class="inner">
                        <p>We also made <a href="http://fireapp.handlino.com/">Fire.app</a> - The fast protoyping tool</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="features span4">
                    <h2 class="title">Features</h2>
                    <ul>
                        <li>Works in mac, linux and pc</li>
                        <li>Built-in Web server</li>
                        <li>LiveReload support</li>
                        <li>Compass extensions support</li>
                    </ul>
                </div>
                <div class="recommendation span8">
                    <h2 class="title">Recommendation</h2>
                    <ul>
                        <li>
                            <span class="avatar"><img src="images/face/chris-eppstein.jpg"></span>
                            <blockquote>I don't always use GUI to compile my Compass Project, But when I do, I use Compass.app. - <a href="http://twitter.com/chriseppstein">Chris Eppstein</a>, creator of Compass framework</blockquote>
                        </li>
                        <li>
                            <span class="avatar"><img src="images/face/maxime-thirouin.jpg"></span>
                            <blockquote>I love this app &amp; use it everyday. It helps me a lot for my Compass Recipes ;) - <a href="https://twitter.com/moox">Maxime Thirouin</a>, creator of Compass receipes</blockquote>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="screencast span8">
                    <h2 class="title">Screencast</h2>
                    <div class="bd"><iframe src="http://www.youtube.com/embed/pFCYhy9N6co" frameborder="0" allowfullscreen></iframe></div>
                </div>
                <div class="screenshots span4">
                    <h2 class="title">Screenshots</h2>
                    <ul>
                        <li><a rel="group" href="images/screenshots/osx.jpg" title="OSX"><img src="images/screenshots/osx-thumb.jpg">OSX</a></li>
                        <li><a rel="group" href="images/screenshots/windows.jpg" title="Windows"><img src="images/screenshots/windows-thumb.jpg">Windows</a></li>
                        <li><a rel="group" href="images/screenshots/linux.jpg" title="Linux"><img src="images/screenshots/linux-thumb.jpg">Linux</a></li>
                        <li><a rel="group" href="images/screenshots/project-list.jpg" title="Project list"><img src="images/screenshots/project-list-thumb.jpg">Project list</a></li>
                        <li><a rel="group" href="images/screenshots/compass-install.jpg" title="Compass Install"><img src="images/screenshots/compass-install-thumb.jpg">Compass Install</a></li>
                        <li><a rel="group" href="images/screenshots/growl-notify.jpg" title="OSX Growl notify"><img src="images/screenshots/growl-notify-thumb.jpg">OSX Growl notify</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
