@import "compass";
@import "normalize";

$icon-sprite: sprite-map("icons/*.png", $spacing: 20px);

/* `Base
-----------------------------------------------------------------------------*/

body {
    background: #f2f0ec image-url("bg.png") left top repeat-x;
    margin: 0;
    font: 15px/1.6 "Helvetica Neue", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
    color: #000;
}

a {
    &:link {
        color: #6ca012;
        text-decoration: none;}
    &:visited {color: #6ca012; text-decoration: none;}
    &:hover, &:active{color: #e61708;}
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.menu, .menu li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {float: left;}
}

.wrap {
    margin:0 auto;
    width:940px;
}

.inner {
    @extend .wrap;
    @extend .clearfix;
    position:relative;
}

h2.title {
    margin:0 0 0.5em 0;
    font-family: 'Hammersmith One', sans-serif;
    font-size:24px;
    font-weight:400;
    color:#da1607;
}

/* `Header
-----------------------------------------------------------------------------*/

header {
    .inner { height:50px; }
    .top {
        padding-top:20px;
        height:90px;
    }
    h1 {
        @include float-left;
        margin:0;
        a {
            @include float-left;
            background: image-url("h1.png") left top no-repeat;
            display:block;
            width:342px;
            height:57px;
            text-indent:-9999em;
        }
        .version {
            @include float-left;
            display:block;
            margin-left:10px;
            padding-top:23px;
            font-family: 'Numans', sans-serif;
            font-size:18px;
            font-weight:400;
            color:#aaa;
        }
    }
    .buy {
        position:absolute;
        right:0;
        top:30px;
        .button {
            @include border-radius(5px);
            @include background-image(linear-gradient(#83c314, #689022));
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#83c314, endColorstr=#689022);
            @include box-shadow(rgba(#000, 0.5) 0 2px 2px, rgba(#fff, 0.4) 0 1px 0 inset);
            text-shadow: rgba(#000 ,0.3) 0 -1px 0;
            border:1px solid #547718;
            display:block;
            padding:0 20px;
            font-family: 'Anton', sans-serif;
            font-size:24px;
            line-height:35px;
            color:#fff;
            span {
                display:block;
                @include float-left;
                border-right:1px solid #577a1b;
                border-right:1px solid rgba(#fff ,0.3);
                @include box-shadow(rgba(#000, 0.2) -1px 0 0 inset);
                margin-right:15px;
                padding-right:15px;
                text-transform: uppercase;
            }
            &:hover {
                @include background-image(linear-gradient(#699221, #4d7409));
                filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#699221, endColorstr=#4d7409);
                @include box-shadow(rgba(#000, 0.7) 0 2px 0, rgba(#fff, 0.4) 0 1px 0 inset);
            }
        }
        .donated {
            margin:3px 0 0;
            font-size:11px;
            color:#949494;
            text-align:right;
            a {
                color:#f65d19;
                &:hover {color:#7db717;}
            }
        }
    }
    .slogan {
        @include float-left;
        margin:0;
        padding-top:8px;
        font-family: 'Numans', sans-serif;
        font-size:17px;
        color:#ddd4cf;
        color:rgba(#f5e0d6 ,0.5);
        line-height:1.2;
        text-shadow: rgba(#000 ,0.3) 0 -1px 0;
        img {
            display:inline-block;
            margin-left:8px;
            vertical-align:middle;
        }
    }
    nav {
        float:right;
        padding-top:13px;
        font-family: 'Numans', sans-serif;
        ul {
            @extend .menu;
            @extend .clearfix;
            li {
                margin-left:20px;
            }
            a {
                display:block;
                float:left;
                padding-left:30px;
                
            }
            .documentation {
                background: sprite($icon-sprite, doc) no-repeat;
                &:hover { background: sprite($icon-sprite, doc-hover) no-repeat; }
            }
            .faq {
                background: sprite($icon-sprite, faq) no-repeat;
                &:hover { background: sprite($icon-sprite, faq-hover) no-repeat; }
            }
            .feedback {
                background: sprite($icon-sprite, feedback) no-repeat;
                &:hover { background: sprite($icon-sprite, feedback-hover) no-repeat; }
            }
        }
    }
}

.inner nav a {
    color:#a49993;
    color:rgba(#fff ,0.5);
    &:hover { color:#fff; }
}

/* `Container
-----------------------------------------------------------------------------*/

#container {
    @extend .wrap;
    padding:40px 0;
    .border-bottom {
        border-bottom:1px solid #d8d4cd;
        margin-bottom:30px;
    }
    .border-top {
        border-top:1px solid #d8d4cd;
        margin-top:30px;
        h2.title { margin-top:30px; }
    }
}

.column {
    @extend .clearfix;
    .col-left {
        @include float-left;
        width:640px;
    }
    .col-right {
        @include float-right;
        width:260px;
    }
}

/* `Features
-----------------------------------------------------------------------------*/

.features {
    border-left:1px solid #d8d4cd;
    padding-left:20px;
    ul {
        @extend .menu;
        margin-bottom:30px;
        li {
            float:none;
            background: image-url("icon-plus.png") left center no-repeat;
            padding-left:20px;
        }
    }
}

/* `Screenshots
-----------------------------------------------------------------------------*/

.screenshots {
    ul {
        @extend .menu;
        @extend .clearfix;
        width:270px;
        li {
            margin:0 10px 8px 0;
            width:124px;
            height:124px;
            line-height:1.8;
            text-align:center;
            a {
                color:#000;
                &:hover { color:#e61708; }
            }
        }
        img {
            @include box-shadow(rgba(#000, 0.3) 0 0 2px);
            @include float-left;
            display:block;
            border:2px solid #fff;
            width:120px;
            height:90px;
        }
    }
}

/* `Source
-----------------------------------------------------------------------------*/

.source {
    border-right:1px solid #d8d4cd;
    padding-right:20px;
    p { padding-left:40px; }
    .github { background: image-url("icon-github.png") left top no-repeat; }
}

/* `Contact
-----------------------------------------------------------------------------*/

.contact {
    dl {
        @extend .clearfix;
        margin:0;
    }
    dt {
        @include float-left;
        width:70px;
    }
    dd {
        margin-bottom: 5px;
        margin-left: 80px;
    }
}

/* `Documentation
-----------------------------------------------------------------------------*/

.documentation {
    @extend .clearfix;
    aside {
        @include float-left;
        width:240px;
    }
    article {
        @include float-right;
        width:640px;
        ul {
            strong {
                color:#d6631d;
                font-weight:400;
            }
            ol li {list-style-type:decimal;}
        }
    }
    section { margin-bottom:40px; }
    .screenshot {
        background:#fff;
        border:1px solid #e3e3e3;
        padding:10px;
        position:relative;
        img { display:block; border:1px solid #d6e5f5; }
        .note {
            display:block;
            padding-top:5px;
            font-size:13px;
            color:#666;
        }
    }
    .screenshot:before,
    .screenshot:after {
        @include box-shadow(rgba(#000, 0.7) 0 10px 5px);
        @include rotate(-2deg);
        content:"";
        position:absolute;
        z-index:-1;
        bottom:15px;
        left:10px;
        width:60%;
        height:20%;
    }
    
    .screenshot:after {
        @include rotate(2deg);
        right:10px;
        left:auto;
     }
     
    ul.custom-item {
        padding:10px;
    }
    h2 { font-size:26px; color:#da1607; }
    h3 { font-size:20px;}
    h2, h3, h4, h5 {
        margin:0 0 0.5em 0;
    }
    h5 { font-size:100%; }
}

.documentation aside {
    .entry-bar {
        position: fixed;
        _position: static;
        width:240px;
    }
    ul, ul ul {
        @extend .menu;
        @extend .clearfix;
        li {
            float:none;
            border-bottom:1px dotted #ccc;
            padding:5px 0;
        }
        a {
            display:block;
            padding-left: 5px;
            &:hover {
                @include border-radius(3px);
                background:#faf8f5;
            }
        }
    }
    ul ul {
        li {
            border-bottom:0;
            padding: 0;
        }
        a {
            padding-left: 25px;
            font-size:93%;
            &:before {
                padding-right:5px;
                content:"- ";
            }
        }
    }
}

/* `Footer
-----------------------------------------------------------------------------*/

footer {
    @extend .wrap;
    border-top:1px solid #d8d4cd;
    padding:20px 0 40px;
    color:#969491;
}
