// This file must be imported before loading html5-boilerplate

$base-font-family: 'Helvetica Neue', Arial, sans-serif;  // default font-family

$base-font-size: 13px;  // default font-size for YUI fonts

$base-line-height: 1.231;  // default line-height for YUI fonts

$link-color: #f65d19;

$link-hover-color: #c24712;

$link-active-color: #c24712;

$link-visited-color: #f65d19;

@import "compass/utilities";
@import "compass/css3";
@import "html5-boilerplate";
