@import "partials/base";

@include html5-boilerplate-reset;
@include html5-boilerplate-fonts;

body {
    background: #f6f4f0;
    color: #3f3728;
    margin: 0;
    font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}

a:link, a:visited {
    color: #f65d19;
    text-decoration: none;
}

a:hover, a:active {
    color: #c24712;
    text-decoration: underline;
}

.clearfix {
    @include pie-clearfix;
}

#wrapper {
    position: relative;
    margin: 0 auto;
    width: 940px;
}

/* `Menu
-----------------------------------------------------------------------------*/

.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0;
        padding: 0;
        float: left;
    }
}

/* `Header
-----------------------------------------------------------------------------*/

#header {
    padding-top: 60px;
}

#header h1 {
    background: url(/images/h1.png) left top no-repeat;
    margin: 0;
    width: 349px;
    height: 57px;
    text-indent: -9999em;
}

#header h2 {
    margin: 40px 0;
    font-family: 'Josefin Slab', arial, serif;
    font-weight: 100;
    font-size: 144px;
    color: #eeb948;  
}

#cloud-right {
    position: absolute;
    left: 880px;
    top: 50px;
}

#cloud-left {
    position: absolute;
    left: -180px;
    top: 160px;
}

/* `Section
-----------------------------------------------------------------------------*/

section {
    background: url(/images/hr.png) left bottom no-repeat;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

h2.title {
    margin: 0 0 1em;
    font-family: Philosopher, serif;
    font-size: 28px;
    color: #99583e;
}

/* `Highlight
-----------------------------------------------------------------------------*/

#highlight {
    float: left;
    width: 600px;
}


#highlight p {
    font-size: 116%;
    line-height: 1.5;
    font-family: Philosopher, serif;
    font-size: 116%;
    font-weight: bold;
    line-height: 1.4;
}

/* `Buy Now
-----------------------------------------------------------------------------*/

#buy {
    float: right;
    width: 300px;
}

#buy p {
    margin-bottom: 0.3em;
}

#buy p a {
    font-weight: bold;
}

#buy .button {
    display: block;
    background: url(../images/bg-button.png) left top repeat-x;
    border: 1px solid #6a9421;
    margin-bottom: 5px;
    height: 40px;
    font-size: 138.5%;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
}

#buy .button:hover {
    background: url(../images/bg-button.png) left bottom repeat-x;
}

/* `Screenshot
-----------------------------------------------------------------------------*/

#screenshot {
    margin-bottom: 0px;
    width: 951px;
}

#screenshot li {
    margin: 0 11px 20px 0;
    text-align: center;
    font-family: Philosopher, serif;
    font-size: 116%;
}

#screenshot img {
    display: block;
    border: 3px solid #fff;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}

#screenshot a {
    color: #3f3728;
}

/* `Article
-----------------------------------------------------------------------------*/

#container {
    padding-bottom: 0;
}

article {
    float: left;
    margin-right: 20px;
    padding-top: 30px;
    width: 600px;
    height: 160px;
}

#contact {
    float: right;
    background: url(/images/article-separater.png) left top repeat-y;
    padding: 30px 0 0 30px;
    width: 280px;
    height: 160px;
}

#source .github {
    display: inline-block;
    background: url(/images/icon-github.png) left center no-repeat;
    padding-left: 40px;
    height: 27px;
    font-family: Philosopher, serif;
    font-size: 123.1%;
    font-weight: bold;
    line-height: 27px;
}

#source .github a {
    color: #58b1d0;
}

#contact dl {
    margin: 0;
}

#contact dt {
    float: left;
    width: 60px;
    padding-right: 5px;
}

#contact dd {
    margin-bottom: 5px;
}

/* `Thanks
-----------------------------------------------------------------------------*/

#thanks {
    background: url(/images/thanks.jpg) left top no-repeat;
    padding: 120px 480px 0 80px;
    height: 380px;

    h2 {
        margin: 0 0 0.3em;
        font-size: 50px;
        color: #000;
        }

    p {
        font-size: 116%;
        }
}

/* `Footer
-----------------------------------------------------------------------------*/

#footer {
    padding: 10px 0 80px;
    color: #a49c8c;

    a {
        color: #3f3728;
        }
    }
